// ------ Header Colors ----- //
$header-background-color: #ffffff;
$burger-background-color: #000000;
$burger-hover-background-color: #e2652d;
$menu-background: #000000;
$menu-text-color: #ffffff;
$menu-hover-text-color: #666666;
$menu-exit-button-background: #ffffff;

// ----- Intro Colors ----- //
$intro-background: url("../images/ghghhghg.jpg");
$intro-info-text-color: #ffffff;
$intro-info-text-hover-color: #cecece;
$intro-info-text-shadow: #cc69b2;
$intro-about-background-color: linear-gradient(#b47aec, #702bb1);
$intro-about-text-color: #ffffff;
$intro-about-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$intro-about-text-border: 1px solid white;

// ----- Info Colors ----- //
$info-background: #ffffff;
$info-heading-color: #6c3ebb;

// ----- Designer Colors ----- //
$designer-background: #ffffff;
$designer-card-background: #e5e5e5;
$designer-card-second-background: linear-gradient(0deg, rgba(236, 191, 249, 1) 0%, rgba(255, 204, 164, 1) 100%);
;
$designer-heading-color: #6c3ebb;
$designer-card-text-color: #6c3ebb;
$designer-circles-background-color: linear-gradient(to right, #ecbff9, #ffcca4);

// ----- Design Colors ----- //
$design-background: url("../images/ghghhghg.jpg");
$design-card-background: #ffffff;
$design-header-color: #6c3ebb;
$design-text-color: #000000;
$design-button-background: #6c3ebb;
$design-button-text-color: #ffffff;

// ----- About Colors ----- //
$about-part-background: linear-gradient(#d3b1f4, #fbc6d9);
$about-background: #fff6ef;
$about-card-background: #ffffff;
$about-heading-color: #6c3ebb;
$about-text-color: #000000;
$about-button-background: #6c3ebb;
$about-button-text-color: #ffffff;

// ----- Team Colors ----- //
$team-background: url("../images/team-background-image.jpg");
$team-heading-color: #6c3ebb;
$team-text-color: #000000;
$team-card-background: #ffffff;

// ----- Contact Colors ----- //
$contact-background: #ffffff;
$contact-input-background: #fff9fb;
$contact-input-border-color: #fbc6d9;
$contact-text-color: #000000;
$contact-card-background: #ffffff;
$contact-button-background: #6c3ebb;
$contact-button-text-color: #ffffff;